@keyframes slideInLeft {
    0% {
      transform: translateX(-100%); /* Start off-screen to the left */
      opacity: 0; /* Optional: make it transparent */
    }
    100% {
      transform: translateX(0); /* End at its original position */
      opacity: 1; /* Optional: make it fully visible */
    }
  }


.floating-button{
    background-color:#2a4b60;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 3px;
    border-radius: 30px;
    z-index: 1000;
    border: none;
}   

.floating-container{
    display: none;
    flex-direction: column;
    position:fixed;
    bottom: 70px;
    right: 30px;
    height: 500px;
    width: 380px;
    z-index: 999;
    background-color:#2a4b60;
    border-radius: 10px;
}



.floating-container .title{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    color:rgb(187, 172, 90) ;
}

.floating-container .title p{
    margin: 0;
    font-size: 19px;
    letter-spacing: 2px;
    font-family:monospace;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.floating-container .title img{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
}


.floating-container .message-container{
    background-color: white;
    height: 75%;
    padding: 10px;
    overflow-y: scroll;
}

.floating-container .message-container p{
    word-wrap: break-word;
    color:rgb(187, 172, 90);
    border-radius: 5px;
    padding: 10px;
    max-width: 60%;
    font-size: 18px;
    animation: slideInLeft 1.5s ease-out;
    background-color:#2a4b60;
}

.floating-container .message{
    display: flex;
}


.floating-container .message-container .bot{
    display: flex;
    justify-content: flex-start;
}

.floating-container .message-container .user{
    display: flex;
   justify-content: flex-end;
}


.floating-container .input-send-container{
    width: 97%;
    padding: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: white;
}

.floating-container .input-send-container input{
    background-color:#2a4b60;
    color:rgb(187, 172, 90);
    border: none;
    outline: none;
    width: 85%;
    height: 40px;
    border-radius: 9px;
    padding: 3px;
    font-size: 18px;
    padding-left: 10px;
}

.floating-container .input-send-container button{
    background-color:transparent;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0;
    width: 10%;
    height: 35px;
}

#bit-img{
    width: 50px;
    height: 50px;
}


