.navigation{
    width: 100vw;
    font-family: "Josefin San", sans-serif;
    z-index: 5;
    position: relative;
}

.navigation nav{
    padding: 10px;
    display: flex;
    flex-direction: row;
    color: #d3b23a;
    justify-content: space-evenly;
    background-color: none;
    align-items: center;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    left: 0;
    transition: transform 0.7s ease, background-color 0.7s ease;
}

.navigation .hotel-name{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2px;
}

.no-underline{
    color: #d3b23a;
    text-decoration: none;
}

.navigation .hotel-name h5{
    font-weight: 100;
    font-size: 15px;
    color: #d3b23a;
    letter-spacing: 5px;
    margin: 10px;
}

.navigation .hotel-name h2{
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 8px;
    margin: 0;
}

.navigation .hotel-name img{
    display:none;
    width: 100px;
    height: 100px;
}

.navigation  ul{
    display: flex;
    gap: 10px;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
}


.navigation ul li{        
    color: #b69a33;
    font-weight: 400;
    margin-right: 60px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}

.navigation ul li{     
    transition: transform 0.5s ease, background-color 0.5s ease;

}


.navigation ul li:hover{     
    transition: transform 0.5s ease, background-color 0.5s ease;
    transform: scale(1.1);
    text-decoration: underline;
}



@media (max-width: 1440px) {
    
    .navigation .hotel-name h5{
        font-size: 18px;
    }
    
    .navigation .hotel-name h2{
        font-size: 30px;
        letter-spacing: 5px;
    }
    
    .navigation ul li{        
        margin-right: 60px;
        font-size: 15px;
    }
}
