.restaurant-calendar-container {
    display: flex;
    font-family: "Josefin San", sans-serif;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100vh;
    background-color:rgba(42, 75, 96);
    color:rgb(187, 172, 90) ;
    border-radius: 30px;
    padding: 30px;
  }
  
  .calendar-container .close-btn{
    position: absolute;
    right: 20px;
  }
  
  .calendar-container h2 {
    font-size: 30px;
    text-align: center;
    margin: 10px;
  }
  
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  
  
  .calendar-header button{
    font-size: 30px;
    text-align: center;
    padding: 0;
    background-color: transparent;
    color:rgb(187, 172, 90);
  }
  
  .calendar-header h2{
    font-size: 30px;
    text-align: center;
    margin: 20px;
  }
  
  .calendar-grid {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
  
  .weekdays, .days {
    display: grid;  
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
    font-size: 23px;
  }
  
  .day {
    padding: 5px;
    text-align: center;
    cursor: pointer;
  }
  
  .inactive {
    color: #ccc;
  }
  
  .selected{
    background-color:rgba(11, 197, 11, 0.746);
    color: white;
  }

  .highlited{
    background-color: rgb(187, 172, 90);
    color:#2a4b60; 
  }
    
  .day.occupied {
    background-color: red;
    color:white; 
    pointer-events: none; 
    opacity: 0.6; 
  }


  .date-info-container{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 30px;
  }

  .date-info-container h2{
    margin:0;
  }

  .sched-container{
    font-size: 20px;
    display: flex;
    gap: 20px;
  }