@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    animation: fadeIn 1s ease-in-out; 
}


.container{
    width: 30%;
    height: 350px;
    background-size: cover;
    background-position: center;
    position:relative;
    border-radius: 10px;
    overflow: hidden;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
    cursor: pointer;
}

.container:hover{
    background-color: #45a049; /* Background color on hover */
    transform: scale(1.03); /* Slightly increase size */
    transition: background-color 1s ease, transform 0.3s ease-in-out;
    box-shadow: 0 0 8px 3px rgba(169, 148, 27, 0.802);

}

.container .cover{
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container .cover h2{
    position: relative;
    z-index: 2;
    font-size: 32px;
    color: #d4bc34;
    letter-spacing: 2px;
    margin: 10px;
    padding: 10px;
    font-weight: 400;
}

.container .cover h4{
    position: relative;
    z-index: 2;
    font-size: 25px;
    color: rgb(212, 188, 52);
    letter-spacing: 2px;
    font-weight: 300;
    margin: 0;
    padding: 20px;

}


@media (max-width:1024px) {
    .main{
        margin-left: 220px;
    }
    
    
    .container{
        width: 30%;
        height: 300px;
    }
    
    .container .cover h2{
        font-size: 21px;
    }
}

@media (max-width:768px) {
    .main{
        margin-left: 200px;
    }
    
    .container{
        width: 30%;
        height: 260px;
    }
    
    .container .cover h2{
        font-size: 18px;
    }
}