.newAdmin-container{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(155, 135, 25, 0.802);
    padding: 60px;
    border-radius: 15px;
    height: 100vh;
}

.newAdmin-container input{
    width:60%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    outline: rgba(212, 188, 52, 0.317);
    border: none;
}

.newAdmin-container select{
    width: 392px;
    height: 50px;
    border: none;
    padding: 10px;
    font-size: 16px;
}

.newAdmin-container button{
    margin-top: 40px;
    width: 390px;
    height: 30;
}
