.process-walkIn-page{
    margin-left: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.room-container{
    display: flex;
    flex-direction: column;
    background-color:#2a4b60;
    justify-content: center;
    border-radius: 30px;
    padding: 50px;
    color: rgb(212, 188, 52);
    margin: 50px 0;
}


.room-container .room-div{
    display: flex;
    flex-direction: column;
    border-bottom: 3px dotted rgb(212, 188, 52);
    padding: 15px 10px 25px 10px;
    margin-bottom: 25px;
    font-size: 20px;
    align-items: center;
}

.room-container .room-div h2{
    margin: 0 0 20px 0;
    font-weight: 400;
}

.room-container .room-div .date-container, .room-input-info{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-bottom: 30px;
}

.room-container .room-div .date-container .date-each-container, .room-input-info-each{
    display: flex;
    flex-direction: column;
}

.room-container .room-div .date-container .date-each-container input, .room-div select{
    width: 100%;
    height: 40px;
    font-size: 18px;
}

.container-buttons{
    display: flex;
}

.container-buttons button:first-of-type {
    width: 83%;
    background-color: rgb(212, 188, 52);
    outline: none;
    border: none;
}

.container-buttons button:last-of-type {
    width: 15%;
    margin-left: 10px;
    background-color: rgba(128, 128, 128, 0.274);
    color: red;
    font-weight: 800;
    outline: none;
    border: none;
}

.guest-count-div{
    display: flex;
    flex-direction: column;
}

.container-buttons button:hover{
    transform: scale(1.04);
    transition: transform .7s ease-out, background-color .5s ease-out;
}

.client-info-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
    padding: 50px;
    color: #2a4b60;

}

.client-info-container label{
    font-size: 25px;
}

.client-info-container input{
    height: 40px;  
    border: 2px dotted #2a4b60;
    margin-bottom: 40px;
    outline: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.client-info-container button{
    height: 50px;
}

.client-info-container button:not(:disabled){
    background-color: rgb(212, 188, 52);
    border: none;
}

