/*Table Section */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.parent-table-container {
    width: 80%;
    overflow-x: auto; 
    border: 1px solid #ddd; 
    margin-left: 350px; 
    padding-top: 50px;
    border: none;
    animation: fadeIn 1s ease-in-out; 
    height: 100%;
    position: relative;
    overflow-y: hidden;
}

.table-container{
  width: 95%;
  height: 80%;
  overflow-y: auto;
}
  
  table {
    width: 100%;
    border-collapse: collapse; /* Collapses the borders between table cells */
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd; /* Adds a border to table cells */
    word-wrap: break-word; /* Prevents overflow by wrapping long text */
  }

  
  th {
    background-color: #2a4b60;
    color: white;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternates row colors for better readability */
  }

  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
  }

  tr button{
   border: none;
   width: 90px;
   height: 50px;
   display: flex;
   background-color: rgb(212, 188, 52);
   color: white;
   align-items: center;
   justify-content: center;
  }
  
  tr:hover {
    background-color: #2a4b60; /* Adds hover effect on rows */
    color: white;
  } 

  .assigned-form{
    position: absolute;
    top: 30%;
    left: 33%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #2a4b60; /* Adds hover effect on rows */
  }

  .assigned-form label{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    color: rgb(212, 188, 52);;
  }

  .assigned-form select{
    width: 400px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    outline: none;
  }

  .assigned-form button{
    width: 100%;
    height: 4%;
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 30px;
    background-color: rgb(212, 188, 52);
    color: white;
    font-weight: 100;
  }

  .assigned-form button:disabled {
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
}

