.ReservationSummary{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 10;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ReservationSummary form{
    padding: 30px 10px;
    background-color:#2a4b60;
    border-radius: 20px;
    color: rgba(204, 182, 57,.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.ReservationSummary form h2{
    font-size: 25px;
    margin-left: 0;
    margin-bottom: 0;
}

.ReservationSummary form button:first-child{
    position: absolute;
    right: 10px;
}

.ReservationSummary .reserved-rooms-container{
    height: 400px;
    margin-top: 50px;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
}

.reserved-rooms-container::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
    height: 10px; /* Set the height of the scrollbar for horizontal scrollbar */
  }
  
  /* Target the track (the area the scrollbar moves through) */
  .reserved-rooms-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Set the track's background color */
    border-radius: 10px; /* Optionally round the corners of the track */
  }
  
  /* Target the thumb (the draggable part of the scrollbar) */
  .reserved-rooms-container::-webkit-scrollbar-thumb {
    background: #888; /* Set the thumb's background color */
    border-radius: 10px; /* Optionally round the corners of the thumb */
    border: 3px solid #f1f1f1; /* Add a border to create a gap effect */
  }
  
  /* Optional: On hover, change the thumb color */
  .reserved-rooms-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Change the thumb color on hover */
  }
  
  /* Optional: Styling for the corner if both horizontal and vertical scrollbars are present */
  .reserved-rooms-container::-webkit-scrollbar-corner {
    background: #f1f1f1;
  }

.ReservationSummary form .reserved-rooms{
  padding-bottom: 20px;
  border-bottom: 3px dotted rgba(204, 182, 57,.8);
}

.ReservationSummary .reserved-rooms .roomType-roomPrice{
    margin-top: 50px;
}

.ReservationSummary form .reserved-rooms h4{
    font-size: 30px;
    margin: 0;
}

.ReservationSummary form .reserved-rooms h6{
    font-size: 20px;
    margin: 0;
    margin-top: 25px;
}

.ReservationSummary form .reserved-rooms p{
    font-size: 20px;
}

.ReservationSummary .finish-btn{
    padding: 10px 50px;
    margin-top: 30px;
}