@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.bookNow-page{
    width: 100vw;
}

.bookNow-search-section{
    padding-top: 200px;
    background: linear-gradient(to bottom, #2a4b60 50%, #2a4b6096);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}    

.bookNow-search-section .form-group{
    display: grid;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px auto;
    border-radius: 20px;
}

.message{
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    color:#2a4b6023 ;
    font-family: "Josefin San", sans-serif;
    font-size: 50px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.avail-rooms{
    width: 100%;
    display: flex;
    padding: 20px;
    display: flex;
    gap: 50px;
    box-sizing: border-box;
}

.calendar-div{
    width: 50%;
    display: flex;
    justify-content: start;
    margin-left: 10px;
}

.avail-rooms .room-choice{
    width: 60%;
    padding: 30px;
    padding-top: 0px;
}

.avail-rooms .room-choice .room{
    display: flex;
    align-items: center;
    border-bottom: 3px #2a4b60 dotted;
    width: 100%;
    background: linear-gradient(to bottom, #2a4b60 0%, #2a4b6096);
    padding: 30px;
    gap: 20px;

}

.avail-rooms .room img{
    width: 50%;
    height: 500px;
    border-radius: 15px;
}

.avail-rooms .room .room-text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    padding: 20px;
}

.avail-rooms .room .room-text h1{
    font-size: 38px;
    color: rgb(204, 182, 57);
}

.avail-rooms .room .room-text h4{
    font-size: 18px;
    color: rgb(204, 182, 57);
    margin-top: 10  px;
    margin-bottom: 0;
}

.avail-rooms .room .room-text p{
    font-size: 15px;
    text-align: center;
    width: 100%;
    color: white;
}

.avail-rooms .room-button-container{
    display: flex;
    height: 80px;
    gap: 5px;
}

.avail-rooms .room-button-container .calendar-button{
    width: 50px;
    height: 45px;
    margin-top: 28px;
    margin-bottom: 100px;    
    border-radius: 10px;
    color: WHITE;
    border: none;   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: none;
}

.avail-rooms .room-button-container .calendar-button img{
    width: 40px;
    height: 40px;
}


.avail-rooms .room-button-container .link-button{
    width: 250px;
    height: 45px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 100px;    
    border-radius: 10px;
}

.avail-rooms .room-button-container .link-button:not(:disabled){
    background-color: rgb(204, 182, 57);
    color: WHITE;
    border: none;
    outline: none;
}

.avail-rooms .room-button-container .link-button:not(:disabled):hover{
    transition: background-color 0.7s ease, transform 0.7s ease; 
    background-color: rgba(128, 128, 128, 0.199);
    color: rgb(204, 182, 57);
}

.avail-rooms .cart-container{
    position: sticky;
    top: 170px;
    box-shadow: 0px 0px 5px 1px #2a4b60;
    width: 35%;
    height: 60vh;
    border-radius: 20px;
    padding: 20px;
    color: #2a4b60;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.avail-rooms .cart-container > .items-container{
    overflow-y: auto;
    padding: 0 7px;
}

.avail-rooms .cart-container h4{
    font-weight: 600;
}

.avail-rooms .cart-container .added-summary-rooms{
    border-radius: 10px;
    padding: 40px;
    border: 1.5px solid rgb(204, 182, 57);
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out; /* Duration and timing function */
}   

.avail-rooms .cart-container .added-summary-rooms .roomtype-price-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 15px;
}

.avail-rooms .cart-container .added-summary-rooms .roomtype-price-container h4{
    margin: 0;
}

.avail-rooms .cart-container .added-summary-rooms p{
    margin: 0;
    margin-bottom: 20px;
}

.avail-rooms .cart-container.added-summary-rooms .bottom-text-container{
    margin-top: 40px;
    width: 100%;
    border-top: 2px solid rgb(204, 182, 57);
}

.avail-rooms .cart-container .added-summary-rooms .bottom-text-container h5{ 
    margin: 20px 0 0 0;
}

.avail-rooms .cart-container .added-summary-rooms button{ 
    background-color: transparent;
    text-decoration: underline;
    font-size: 14px;
    text-align: center;
    color: red;
    border: none;

}

.avail-rooms .cart-container .added-summary-rooms button:hover{ 
    scale: 1.05;
}

.checkOut-rooms{
    width: 100%;
    font-size: 20px;    
    color: #ccb639;
    letter-spacing: 2px;
    border: none;
    transition: background-color 0.7s ease, transform 0.7s ease;  /* Smooth transition */
}

.checkOut-rooms:hover{
    transition: background-color 0.7s ease, transform 0.7s ease;  /* Smooth transition */
    background-color: rgb(204, 182, 57);
    color: white;
}

.cart-btn{
    position: fixed;
    bottom: 10px;
    left: 5px;
    display: none;
    z-index: 5;
    padding: 10px;
    width: 60px;
    height: 60px;
    background-color: #2a4b60;
}

.cart-btn img{
    width: 100%;
    height: 100%;
}

.cart-btn span{
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 3px;
    border-radius: 100%;
    font-size: 17px;
    min-width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    background-color: red;
}

@media (max-width: 1200px){
    .avail-rooms .room-choice{
        width: 45%;
    }

    .avail-rooms .room-choice .room{
        flex-direction: column;
    }

    .avail-rooms .room-choice .room-text{
        width: 100%;
        justify-content: center;
    }

    .avail-rooms .room-choice .room > img{
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 850px){

    .avail-rooms .room-choice{
        padding: 0;
    }

    .avail-rooms .cart-container{
        position: fixed;
        background-color: white;
        top: 50%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    .avail-rooms{
        margin-left: 0;
    }

    .avail-rooms .room-choice{
        margin-left: 0;
        width: 80%;
    }

    .cart-btn{
        display: block;
    }

    .cart-container.hide{
        display: none;
    }

}

@media (max-width: 600px) {
    .bookNow-search-section .form-group{
        width: 60%;
    }
}